<h1>Here are som helpful tips to get started.</h1>
<li>Start by pressing the "Play" Button</li>
<li>The quiz will start and you can see the countdown timer</li>
<li>Finish as many questions as possible</li>
<li>When the Quiz is completed, enter your username</li>
<li>Compare your score on the scoreboard</li>
<br>
<h4 style="text-align: center;">Thanks for using Flagscape</h4>

