@page "/Highscore"
@inject NavigationManager Navigation;

@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject IHighScoreService scoreService;


<div>
    <h1>Text</h1>
</div>

<div>

    @foreach (var item in highscorelist)
    {
        <h1>@item.Name</h1>
    }
</div>