.background-container {
    background-image: url('../Images/HomePageImage/bgscreen.jpg');
    background-size: cover;
    background-repeat: round;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highscore-container {
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    overflow: hidden;
    border-radius: 20px;
    background-color: azure;
    align-items: center;
    justify-content: center;
}
table {
    
    border: 1px solid #e6e6e6; 
}


th {
    background-color: floralwhite;
    text-align: center;
    padding: 8px;
    border: 1px solid #e6e6e6;
    
}


td {
    padding: 8px;
    border: 1px solid #e6e6e6; 
    gap: 10px;
    
}

tr:nth-child(odd) {
    background-color: floralwhite;
}
.highscore-search {
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: floralwhite;
    
}
.h1-title{

}
.sticky-btn-container {
    overflow: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 20px;
}

.sticky-btn {
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    /*background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);*/
    background: #22c1c3;
    border-radius: 50px;
    background-size: cover;
}

.back {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {

    .highscore-container {
        width: 100%;
        height: auto;
        padding: 70px;
    }

}

