@page "/"
@using Blazored.Modal
@inject IModalService Modal

<PageTitle>Homepage</PageTitle>


<div class="background-container">
    <!-- Left column -->
    <div class="left-column">
        <img src="/Images/Gif/world_flags.gif" alt="World Flags">
    </div>

    <!-- Right column -->
    <div class="right-column">
        <div class="header">
            <h1 class="logo">Flagscape</h1>
            <h2 class="slogan">Guess to success</h2>
            <button class="btn-play">Play</button>
            <h3 class="text">Guess the flag as fast as you can, the faster you clear it the more points!</h3>
            <div class="button-container">
                <button class="btn-info" @onclick="@(()=>Modal.Show<InfoFlagscapeModal>())">Info</button>
                <button class="btn-about" @onclick="@(()=>Modal.Show<AboutFlagscapeModal>())">About</button>
            </div>
            
        </div>
    </div>
</div>











