
.background-container {
    background-image: url('../Images/HomePageImage/bgscreen.jpg');
    background-size: cover;
    background-repeat: round;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:750px;
    height: 720px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.header-container {
    text-align: center;
    
}

 .header-container .logo {
  color: white;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
  position: relative;
  margin-top: -30px;
    }

.header-container .slogan {
    color: #000;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 65%);
    padding: 10px;
    margin-top: 260px;
}

    .header-container .btn-play {
        color: white;
        font-size: 20px;
        font-weight: bold;
        width: 200px;
        cursor: pointer;
        border: 1px solid gray;
        text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
        border-radius: 12px;
        display: inline-block;
        animation: pulse 1s infinite alternate; /* Use an animation called "pulse" */
        background: linear-gradient(90deg, #3f51b5, transparent) #e91e63;
        transition: background-color 0.2s, all 0.4s,
    }

    .header-container .btn-wiki {
        color: white;
        font-size: 20px;
        font-weight: bold;
        width: 200px;
        cursor: pointer;
        border: 1px solid gray;
        text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
        border-radius: 12px;
        display: inline-block;
        animation: pulse 1s infinite alternate; /* Use an animation called "pulse" */
        background: linear-gradient(90deg, #3f51b5, transparent) #3f51b5;
        transition: background-color 0.2s, all 0.4s,
    }

.btn-play:hover, btn-play:focus {
    background-color: #3f51b5;
    color: #fff;
    transform: translateY(-4px);
}
.btn-wiki:hover, .btn-wiki:focus {
    background-color: rgba(253,187,45,1);
    color: #fff;
    transform: translateY(-4px);
}

@keyframes pulse {
    0% {
        transform: scale(1.5); /* Start with the normal size */
    }

    100% {
        transform: scale(1.1); /* Grow to 1.1 times the normal size */
    }
}

.info-container {
    text-align: center;
}

.text {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
    margin-top: 30px;

}

.info-container .button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure the buttons span the full width on small screens */
    margin-bottom: 20px;
}

.info-container .btn-info {
    color: #fff;
    padding: 0,875em 2em;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-right: 150px;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    border: 1px solid white;
    cursor: pointer;
    border-radius:12px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
    transition: background-color 0.2s, all 0.4s
    
}
.btn-info:hover, .btn-info:focus {
    background-color: #e91e63;
    color: #fff;
    transform: translateY(-4px);
}

.info-container .btn-about {
    color: #fff;
    padding: 0,875em 2em;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    border: 1px solid white;
    cursor: pointer;
    border-radius:12px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
    transition: background-color 0.2s, all 0.4s
}
.btn-about:hover, .btn-about:focus {
    background-color: #e91e63;
    color: #fff;
    transform: translateY(-4px);
}

.img-container img {
    margin-left: -25px;
    width: 250px;
    margin-top: -825px;
    justify-content:center;
    align-items:center;
    
   }

@media screen and (max-width: 768px) {

    .btn-play {
        margin-bottom: 15px;
    }

    .text {
        font-size: 20px;
    }

    .header-container .logo {
        margin-top: 20px;
        font-size: 50px;
    }

    .home-container {
        width: 90%;
        max-width: 100%;
        height: auto;
        padding: 20px;
    }
}