
.background-container {
    background-image: url('../Images/HomePageImage/quizbackground1.jpg');
    background-size: cover;
    background-repeat: round;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    text-align: center;
}

.header-container .logo{
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
}

.header-container .slogan {
    color: #000;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 65%);
    padding: 10px;
}

.header-container .btn-play {
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    background-color: rgb(108 117 125 / 61%);
    border: 1px solid gray;

    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
    animation: pulse 1s infinite alternate; /* Use an animation called "pulse" */
    }

@keyframes pulse {
    0% {
        transform: scale(1.5); /* Start with the normal size */
    }

    100% {
        transform: scale(1.1); /* Grow to 1.1 times the normal size */
    }
}

.info-container {
    text-align: center;
}

.text {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
    margin-top: 30px;

}

.info-container .button-container {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-bottom: 20px;
}

.info-container .btn-info {
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    height: 40px;
    margin: 10px;
    background-color: red;
    border: 1px solid gray;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
}

.info-container .btn-about {
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    height: 40px;
    margin: 10px;
    background-color: yellowgreen;
    border: 1px solid gray;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
}

.img-container img {
    width: 250px;
}
/* Media query for screens with a maximum width of 480px (typical for mobile phones) */
@media screen and (max-width: 480px) {
    .header-container .logo {
        font-size: 50px;
    }

    .header-container .slogan {
        font-size: 30px;
    }

    .text {
        font-size: 20px; 
    }
    .img-container img  {
        width: 200px;
    }

}
