
@page "/Menu"
@inject NavigationManager Navigation;

<div class="menu-container">

    <h1> Select Quiz</h1>

    <div class="menu-holder">


        <div>
            @if (isImg == true){
                // top : 55px
                <img width="50px" height="50px" style="position: fixed; top: @imgTop; left: 700px; " src="UI_images/image_processing20200511-15721-algpaw.png" />
                
            }
        </div>
        <div class="button-container">

                <button class="button-style" @onclick="NavigateToPlayground" @onmouseover="() => ActivateImg(1)" @onmouseleave="DeactivateImg">Guess the Flag</button>
                <button class="button-style" @onclick="NavigateToPlayground" @onmouseover="() => ActivateImg(2)" @onmouseleave="DeactivateImg">Guess the Country</button>
           
            
        </div>
    </div>

</div>



@code {

}
