





.menu-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 200px;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    background-image: url('../Images/HomePageImage/bgscreen.jpg');
    background-size: cover;
    background-repeat: round;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-right: 65px;
    gap: 20px;
    margin-bottom: 100px;
}


.button-style {
    border-radius: 8px;
    width: 220px;
    background-color: lightblue;
    border: solid 1px;
}

    .button-style:hover {
        background-color: lightgreen;
    }

.menu-holder {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.test {
    width: 50px;
    background-color: transparent;
}

img-holder {
    width: 200px;
    height: 200px;
    z-index: 3;
    color: red;
}

.img-selector {
    border-radius: 40px;
}

.menu-containerV2 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 70vh auto;
    overflow: hidden;
    border-radius: 20px;
    background-color: azure;
    align-items: center;
    justify-content: center;
}
.menu-containerV3 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 589.6px;
    width:345px;
    overflow: hidden;
    border-radius: 20px;
    background-color: azure;
    align-items: center;
    
}

.button-style {
    padding: 0,875em 2em;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #fff;
    transition: background-color 0.2s, all 0.4s;
}

    .button-style:hover, button-style:focus {
        background-color: #e91e63;
        color: #fff;
        transform: translateY(-4px);
    }



.news-holder{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    gap:10px;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    width: 90%;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #fff;
    transition: background-color 0.2s, all 0.4s;
    border-radius:20px;
}
    .news-container:hover {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90%;
        border: solid;
        height:auto;
        overflow: hidden;
        border-radius:0px;
    }
.news-body{
    width:60%;
}
table{
    
    border-collapse:separate;
    text-align:center;
    border-spacing:7px;
}
.table-head {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif
}
.table-score-columns {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


.td {
    padding: 10px 20px;
}

.button-highscore-route {
    padding: 0,875em 2em;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #fff;
    transition: background-color 0.2s, all 0.4s;
    align-content:center;
    border-radius: 8px;
    width: 220px;
    background-color: lightblue;
    border: solid 1px;
    margin-top:30px;
}
    .button-highscore-route:hover, button-highscore-route:focus {
        background-color: #e91e63;
        color: #fff;
        transform: translateY(-4px);
    }
.btn-div{
    display:flex;
    justify-content:center;
    align-items:center;
}

@media only screen and (max-width: 1460px) {
    .menu-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        gap: 120px;
        align-items: center;
        justify-content: center;
        background-color: cornflowerblue;
        background-image: url('../Images/HomePageImage/quizbackground1.jpg');
        background-size: cover;
        background-repeat: round;
    }
}

@media only screen and (max-width: 1310px) {
    .menu-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        gap: 60px;
        align-items: center;
        justify-content: center;
        background-color: cornflowerblue;
        background-image: url('../Images/HomePageImage/quizbackground1.jpg');
        background-size: cover;
        background-repeat: round;
    }
}

@media only screen and (max-width: 1200px) {
    .menu-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: cornflowerblue;
        background-image: url('../Images/HomePageImage/quizbackground1.jpg');
        background-size: cover;
        background-repeat: round;
    }
}

@media only screen and (max-width: 1100px) {
    .menu-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: cornflowerblue;
        background-image: url('../Images/HomePageImage/quizbackground1.jpg');
        background-size: cover;
        background-repeat: round;
    }
    .menu-containerV2 {
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        height: 50vh auto;
        width:245px;
        overflow: hidden;
        border-radius: 20px;
        background-color: azure;
        align-items: center;
        justify-content: center;
    }

    .menu-containerV3 {
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        height: 589.6px;
        width: 245px;
        overflow: hidden;
        border-radius: 20px;
        background-color: azure;
        align-items: center;
    }
}