
@page "/Menu"
@inject NavigationManager Navigation;

<div class="menu-container">

    <h1> Select Quiz</h1>

    <div class="button-container">

        <button class="button-style" @onclick="NavigateToPlayground">Guess the Flag</button>
        <button class="button-style" @onclick="NavigateToPlayground">Guess the Country</button>
    </div>

</div>



@code {

}
