@page "/playground"
@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject IFlagService flagService;


<div class="background-container">

   <div class="information-container">
       <div class="time-container" >
            <img src="https://i.gifer.com/QX6b.gif" class="timer-icon" />
            <h2 class="time">Time: @remainingTime seconds</h2>
       </div>
       <div>
           <h3>1 of 25</h3>
       </div>
   </div>

   <div class="quest-container">
       <h1>Japan</h1>
        <h2>What flag does this country belong to?</h2>
   </div>

   <div class="answer-container">

        @foreach(var item in flags)
        {
            <h1>@item.CountryName</h1>
        }

       <button>Flag</button>
        <button>Flag</button>
        <button>Flag</button>

   </div>




    

</div>
