@page "/playground"
@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject IFlagService flagService;


<div class="background-container">

   <div class="information-container">
       <div class="time-container" >
            <img src="https://i.gifer.com/QX6b.gif" class="timer-icon" />
            <h2 class="time">Time: @remainingTime seconds</h2>
       </div>
       <div>
           <h3>1 of 25</h3>
       </div>
   </div>

   <div class="quest-container">

       <h1></h1>
        <h2>@question</h2>

   </div>
   <h2>@isCorrect</h2>
   <div class="answer-container">


            <div class="game-test">
        @foreach (var flag in CompletedList)
        {

                <button @onclick="() => CheckAnswer(flag)">@flag.CountryName</button>

        }
            </div>
       

   @*     <button @onclick="EndTimer">Flag</button>

        <button>Flag</button>
        <button>Flag</button>
 *@
   </div>


</div>
