
.background-container {
    background-image: url('../Images/HomePageImage/bgscreen.jpg');
    background-size: cover;
    background-repeat: round;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 60px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.time-container {
    display: flex;
    align-items: center;
}

.timer-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.time {
    font-size: 24px;
    font-weight: bold;
}

.quest-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 70%;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
}

.answer-container {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    border-radius: 10px;
    gap: 130px;
}

.submit-btn {
    background-color: #00CC66;
    padding: 0;
    border: none;
    height: 25px;
    margin-bottom: 23px;
    width: 70px;
    transition: all 0.4s;
}

    .submit-btn:hover {
        transform: translateY(-4px);
    }


.backtomenu-button {
    padding: 0,875em 2em;
    background: linear-gradient(90deg, #2196f3, transparent) #e91e63;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s, all 0.4s;
    padding: 3px;
    border: solid 1px;
    width: 150px;
}

    .backtomenu-button:hover {
        color: #fff;
        transform: translateY(-4px);
    }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-item {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .grid-item:hover {
        background-color: #0056b3;
    }

/* Style for the isCorrect element */
h2#isCorrect {
    font-size: 24px;
    margin-top: 10px;
    color: green; /* Change color as needed */
    font-weight: bold;
}

.question-image {
    margin-top: 20px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

.question-card {
    width: 300px;
    height: 160px;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 30px;
    border-radius: 40px;
}

.btn-submit {
    margin-top: 20px;
    padding: 0,875em 2em;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #fff;
    border: none;
    transition: background-color 0.2s, all 0.4s;
    width: 170px;
    border-radius: 10px;
}

.btn-submit:hover, btn-submit:focus {
    background-color: #e91e63;
    color: #fff;
    transform: translateY(-4px);
}

#time-clock {
    margin-bottom: 10px;
}

.sticky-btn-container {
    overflow: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 20px;
}

.sticky-btn {
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    /*background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);*/
    background: #22c1c3;
    border-radius: 50px;
    background-size: cover;
}

.back {
    max-width: 100%;
    max-height: 100%;
}


#playerName {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#registerButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.scoreBoard {
    text-align: center;
    margin-top: 50px;
    padding: 75px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 70vh auto;
    overflow: hidden;
    border-radius: 20px;
    background-color: azure;
    align-items: center;
    justify-content: center;
}


    .scoreBoard .Quiz-Completed {
        color: #0b192e;
        font-weight: bold;
        font-size: 3em;
        text-shadow: 2px 2px 4px rgb(249 239 239 / 85%);
    }

    .scoreBoard .Points {
        margin-top: 40px;
        color: #0b192e;
        font-weight: bold;
        font-size: 20px;
        /*text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange;*/
    }

    .scoreBoard .Time {
        text-align: center;
        color: #0b192e;
        font-weight: bold;
        font-size: 20px;
        /*text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange;*/
    }

    .scoreBoard .Summary {
        text-align: center;
        color: #1b286d;
        font-weight: bold;
        font-size: 25px;
        text-shadow: 2px 2px 4px rgb(249 239 239 / 85%);
    }

.answers-text {
    text-align: center;
    color: #0b192e;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgb(249 239 239 / 85%);
}
/* Style for score-modal - Mihaela */
.btn-checkAnswers {
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    cursor: pointer;
    background-color: rgb(108 117 125 / 61%);
    border: 1px solid gray;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 95%);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1.5); /* Start with the normal size */
    }

    100% {
        transform: scale(1.1); /* Grow to 1.1 times the normal size */
    }
}

/* Style for score-registration container - Mihaela */

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgb(249 239 239 / 85%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.playername-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

.registration-button {
    margin-top: 20px;
    padding: 0,875em 2em;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s, all 0.4s;
    width: 190px;
    margin-bottom: 20px;
    height: 30px;
}

.error-message, .success-message {
    display: flex;
    border-radius: 10px;
}

.error-message {
    font-size: 15px;
    margin-top: 10px;
    color: red;
    font-weight: bold;
    /*background-color: #007bff;*/
}

.error-message img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}

.success-message {
    font-size: 15px;
    margin-top: 10px;
    color: darkgreen;
    font-weight: bold;
    /*background-color: #007bff;*/
}

.success-message img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
 }

@media only screen and (max-width: 768px) {
    .answer-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        width: 433px;
        gap: 10px;
    }

    .question-card {
        width: 350px;
        height: 180px;
        gap: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        margin-top: 5px;
        border-radius: 40px;
    }

    .information-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-top: 30px;
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }

    .scoreBoard {
        width: 90%;
        max-width: 100%;
        height: auto;
        padding: 20px;
    }

    .information-container {
        margin-top: 40px;
        width: 100%;
    }

    .quest-container {
        width: 100%;
    }

        .quest-container h2 {
            font-size: 18px;
            font-weight: bold;
        }
}
