@page "/WikiFlags"
@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject NavigationManager Navigation;
@inject IFlagService wikiService;



<div class="background-container">
    <h3>WikiFlags</h3>
    <div class="sticky-btn-container">
        <button class="sticky-btn" @onclick="() => NavigateToHome()">
            <img class="back" src="/Images/Buttons/Back.png" />
        </button>
    </div>

    <div class="card-container">
        @foreach (var flag in flagList)
        {
            <div class="flip-card" @onclick="ToggleCard">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="countryName">@flag.CountryName</p>
                        <img src="/Images/Flags/@flag.Image" alt="Flag" class="country-flag" />
                    </div>
                    <div class="flip-card-back large">
                        <div class="description-container">
                            <p class="description">@flag.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    // Boolean flag to track the card flip state. When isFlipped is true, it indicates that the card is in the flipped state (showing the back of the card).
    private bool isFlipped = false;

    // Called when a flip-card element is touched my the mouse. This function flips the card between its front and back states when the associated card is clicked.
    private void ToggleCard()
    {
        isFlipped = !isFlipped;
    }
}
